version: '3.3'
services:
  mysql:
    build:
      context: mysql
    container_name: mysql
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=test
  node-express:
    build:
      context: .
    container_name: node-express
    ports:
      - 5000:5000
    depends_on:
      - mysql
    environment:
      - HOST=mysql